.height-increase {
    &-enter {
        opacity: 0;
        transform: translateY(-20px);
        &-active {
            transition: all 0.3s;
        }
        &-from {
            opacity: 0;
            transform: translateY(30px);
        }
    }
    &-leave {
        &-active {
            opacity: 0;
            transition: all 0.3s;
            transform: translateY(-30px);
        }
    }
}
.height-increase-smoothly {
    &-enter {
        opacity: 0;
        height: 0;
        margin: 0 auto;
        padding: 0 auto;
        transition: all 0.3s;
        &-active {
            transition: all 0.3s;
        }
        &-from {
            opacity: 0;
            height: 0;
            margin: 0 auto;
            padding: 0 auto;
            transition: all 0.3s;
        }
    }
    &-leave {
        &-active {
            opacity: 0;
            height: 0;
            margin: 0 auto;
            padding: 0 auto;
            transition: all 0.3s;
        }
    }
}

.sub-menu {
    &-enter {
        opacity: 0;
        transform: translateX(100%);
        &-active {
            transition: all 0.5s ease-out;
        }
        &-from {
            opacity: 0;
            transform: translateX(100%);
            transition: all 0.5s ease-out;
        }
    }
    &-leave {
        &-active {
            opacity: 0;
            transform: translateX(100%);
            transition: all 0.5s ease-out;
        }
    }
}

.response__message {
    &-enter {
        opacity: 0;
        transform: translateY(20px);
        &-active {
            transition: all 0.5s ease-out;
            transition-delay: 800ms;
        }
        &-from {
            opacity: 0;
            transform: translateY(20px);
            transition: all 0.5s ease-out;
        }
    }
    &-leave {
        &-active {
            opacity: 0;
            transform: translateY(-20px);
            transition: all 0.5s ease-out;
        }
    }
}

.pulse {
    animation: pulse 1s infinite;
    &--text {
        &:hover {
            div {
                animation: pulse 1s infinite;
            }
        }
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
