$coef: 2;
$span-height: 6px;
$btn-height: 50px;
$span-space: 10px;
.menu-btn {
    width: 60px / $coef;
    height: $btn-height / $coef;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;

    span {
        display: block;
        position: absolute;
        height: $span-height / $coef;
        width: 100%;
        background: $color-libs-warning;
        border-radius: 9px / $coef;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;
        &:nth-child(1) {
            top: $span-space / $coef;
        }

        &:nth-child(2) {
            top: ($btn-height / 2 - $span-height / 2) / $coef;
        }

        &:nth-child(3) {
            top: ($btn-height - $span-height - $span-space) / $coef;
        }
    }
    &-open {
        span:nth-child(1) {
            top: 22px / $coef;
            -webkit-transform: rotate(135deg);
            -moz-transform: rotate(135deg);
            -o-transform: rotate(135deg);
            transform: rotate(135deg);
        }

        span:nth-child(2) {
            opacity: 0;
            left: -60px / $coef;
        }

        span:nth-child(3) {
            top: 22px / $coef;
            -webkit-transform: rotate(-135deg);
            -moz-transform: rotate(-135deg);
            -o-transform: rotate(-135deg);
            transform: rotate(-135deg);
        }
    }
}
