.modal {
    &__mask {
        display: block;
        overflow-x: hidden;
        overflow-y: auto;
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        transition: opacity 0.3s ease;
    }
    &__wrapper {
        vertical-align: middle;
        margin: 1.75em auto;
        max-width: 528px;
    }
    &__container {
        position: relative;
        border: 2px solid $color-seconary;
        border-radius: 5px;
        overflow-y: auto;
        padding: 20px 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #fff;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
        transition: all 0.3s ease;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    &__header {
        margin-top: 0;
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
        color: #212b36;
    }
    &__body {
        margin: 20px 0;
    }
    &__default-button {
        float: right;
    }
    &__cross {
        position: absolute;
        right: 18px;
    }
}

.modal-next .modal {
    &__container {
        position: relative;
        border-radius: 16px;
        border: none;
        padding: 20px 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #fff;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
        transition: all 0.3s ease;
    }
    &__header {
        margin-top: 0;
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;

        color: #212b36;
    }
    &__body {
        margin: 44px 0;
    }
    &__default-button {
        float: right;
    }
    &__cross {
        position: absolute;
        right: 18px;
    }
}
