.container {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    height: inherit;
}

.flex {
    display: flex;
}

.justify-content-start {
    justify-content: start;
}
.justify-content-end {
    justify-content: end;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-between {
    justify-content: space-between;
}
.justify-content-around {
    justify-content: space-around;
}
.flex-wrap {
    flex-wrap: wrap;
}

.align-items-start {
    align-items: start;
}
.align-items-end {
    align-items: end;
}
.align-items-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}
