.btn {
    padding: 15px 26px;
    border-radius: 0;
    border: 0;
    cursor: pointer;
    transition: 1s all;
    font: $nwy-font-p;
    line-height: 15px;
    &:hover {
        transition: 1s all;
    }
    &--primary {
        background-color: $color-seconary;
        &:hover {
            background-color: $color-seconary-alt;
        }
    }
    &--gray {
        background-color: $color-gray;
        &:hover {
            background-color: $color-gray-alt;
        }
    }
}

.btn2 {
    padding: 11px 22px;
    border-radius: 8px;
    transition: 1s all;
    cursor: pointer;
    &--primary {
        background: $color-libs-primary;
        border: 1px solid $color-libs-primary;
        font: $libs-font-p;
        color: #fff;
        &:hover {
            background-color: $color-libs-primary-alt;
            transition: 1s all;
        }
    }
}
