.btn {
    padding: 15px 26px;
    border-radius: 0;
    border: 0;
    cursor: pointer;
    transition: 0.5s all;
    font: $nwy-font-p;
    line-height: 15px;
    &:hover {
        transition: 0.5s all;
    }
    &--primary {
        background-color: $color-seconary;
        &:hover {
            background-color: $color-seconary-alt;
        }
    }
    &--gray {
        box-shadow: inset 0 0 0 0 $color-primary;
        color: $color-primary;
        margin: 0 -0.25rem;
        padding: 15px 2rem;
        transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        &:hover {
            box-shadow: inset 120px 0 0 0 $color-primary;
            color: white;
        }
    }
    &--arrow {
        transition: all 0.2s linear 0s;
        position: relative;
        display: inline-block;
        text-transform: capitalize;
        overflow: hidden;
        transition: all 0.2s linear 0s;

        &:before {
            content: "\f178";
            font-family: FontAwesome;
            font-size: 15px;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            right: 0;
            top: 0;
            opacity: 0;
            height: 100%;
            width: 40px;
            transition: all 0.2s linear 0s;
        }

        &:hover {
            text-indent: -20px;

            &:before {
                opacity: 1;
                text-indent: 0px;
            }
        }
    }
}

.next-btn {
    padding: 11px 22px;
    border-radius: 8px;
    transition: 1s all;
    cursor: pointer;
    &--primary {
        background: $color-libs-primary;
        border: 1px solid $color-libs-primary;
        font: $libs-font-p;
        color: #fff;
        &:hover {
            background-color: $color-libs-primary-alt;
            transition: 1s all;
        }
    }
    &--warning {
        background: $color-libs-warning;
        font: $libs-font-p;
        color: #000;
        border: none;
        &:hover {
            background-color: $color-libs-warning-alt;
            transition: 1s all;
        }
    }
}
